body {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  }
  
  .container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    /* height: 100%; */
    border-radius: 2.5%;
  }
  
  .card {display: flex;flex-direction: column;width: 350px;align-items: center;/* height: 75%; */padding: 1.5em;/* border-radius: 10%; */}
  
  .card img {
    /* display: flex; */
    border-radius: 2.5%;
    width: 100%;
    height: 100%;
  }
  
  .card h1 {
    display: flex;
    font-weight: 400;
  }
  
  .card p {
    font-weight: 700;
  }
  
  @media only screen and (max-width: 375px) {
    .card {
      width: 100%;
      height: 100%;
    }
  }