body {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  align-items: center;
}

.container {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: 350px;
  border-radius: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px; 
  padding: 1.5em;
}

.card img {
  border-radius: 2.5%;
  width: 100%;
  height: 100%;
}

.card h1 {
  display: flex;
  font-weight: 700;
}

.card p {
  font-weight: 400;
}

@media only screen and (max-width: 375px) {
  .card {
    width: 100%;
    height: 100%;
  }
}
